# ===== Server =====
Server/node_modules/
Server/.env

# ===== Flutter / Client =====
Client/build/
Client/.dart_tool/
Client/.packages
Client/.flutter-plugins
Client/.flutter-plugins-dependencies

# ===== Build outputs =====
build/

# ===== Gradle =====
.gradle

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db
